.social-avatar {
    margin-top: -26px !important;
    z-index: 999999;
}

.flex-0 {
    flex: 0 !important;
}

.img-avatar {
    border: 2px solid #005F93;
    margin-left: 16px;
}

.numbers {
    color: #005F93;
    font-weight: bolder;
    font-size: 20px;
}

span, h3{
    color: #005F93;
}

ion-segment-button {
    --background:white;
    --background-checked:#00618B;
    --color-checked: white;
    --indicator-color : transparent!important; /* this solution */
    text-transform: none;
}

ion-segment {
    border: 1px solid #005F93;
    border-radius: 100px;
    height: 30px;
}

ion-segment > ion-segment-button > ion-label {
    margin-top: -5px;
}

.no-wrap {
    white-space: pre-line;
    font-size: 0.93em;
}

.no-wrap > span {
    color: #858585;
}

.less-mt-10 {
    margin-top: -10px;
}

ion-thumbnail {
    width: 90px;
    height: 70px;
}

.fondo {
    --background: #005F93;
    color: white;
}

ion-note {
    color: white;
    font-size: 15px;
}

.ml-50 {
    margin-left: -50px;
}

.food-title {
    color: white;
    font-weight: bolder;
}

h2 {
    font-weight: bolder;
    color: #005F93;
}

.price {
    font-weight: bolder;
    color: #005F93;
}

.likes {
    color: #005F93;
}

.platos {
    margin-bottom: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}