<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/"  slot="start"></ion-back-button>
    <ion-title class="title">Resumen de compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segmet scrollable mode="md" >
    <div  class="options-rs">
      <div>
        <ion-chip color="secondary">
          <ion-label>Recoger</ion-label>
        </ion-chip>
      </div>
      <div>
        <ion-chip color="secondary">
          <ion-label>Entregar en mesa</ion-label>
        </ion-chip>
      </div>
      <div>
        <ion-chip color="secondary">
          <ion-label>Delivery</ion-label>
        </ion-chip>
      </div>
    </div>
  </ion-segmet>
  <div class="container-pedidos">
    
    <div class="Entrantes">
      <span>Entrantes</span>
    </div>

    <div>

      <h2>SuperBurger</h2>
      <p>
        Lechuga, tomate, cebolla roja, cheddar, bacon y nuestra receta secreta.
      </p>
      <div>

        <span>12,50€ </span>   
        <ion-icon name="happy-outline" style="margin: 3px 1px -2px 13px;"></ion-icon>
        <span>153</span>
        <div>
          <ion-icon name="water-outline"></ion-icon>
          <ion-icon name="water-outline"></ion-icon>
          <ion-icon name="water-outline"></ion-icon>
        </div>

      </div>
    </div>
  </div>
</ion-content>
