ion-button {
    --background: #005F93;
    text-transform: none;
}

ion-input {
    --color: #005F93;
    --placeholder: #005F93;
}

ion-label, h3 {
    color: #005F93;
}

ion-chip {    
    background: white;
    border: 1px solid #005F93;
    padding: 17px;
}

.qrTop {
    margin-top: 50px;
}