h2 {
    color: #005F93;
    font-weight: bolder;
}

.mr-70 {
    margin-right: 70px;
}

ion-button {
    padding-left: 35px;
}

h3 {
    color: #005F93 !important;
    margin-left: -31px !important;
}

ion-icon, ion-back-button {
    color: #005F93;
}