.less-mt-25 {
    margin-top: -25px !important;
}

.user-email {
    font-size: 0.8em !important;
}

h3 {
    margin-left: -50px !important;
}

.fondo {
    --background: #005f93 !important;
    color: white;
}

ion-icon {
    color: #005f93;
}

ion-chip {
    --color: #005f93;
    border-color: #005f93;
}

ion-item {
    margin-bottom: 10px;
    /* box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px; */
}